<!doctype html>
<html lang="vi">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>{% block title %} Trang Chủ - VNEGG {% endblock %}</title>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">VN_EGG</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if nav == 'home' %} active {% endif %} " aria-current="page"
                       href="{% url 'home' %}"> Trang Chủ </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Video Bài HỌc </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link {% if nav == 'about' %} active {% endif %}" href="{% url 'about' %}"> Giới
                        Thiệu </a>
                </li>
                <li class="nav-item dropdown">
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex px-4">
                <input class="form-control me-8 px-2 " type="search" placeholder="Search" aria-label="Search">
                <button type="button" class="btn btn-primary " style="width: 200px;">Tim Kiem</button>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if nav == 'home' %} active {% endif %} " aria-current="page"
                       href="{% url 'login' %}"> Dang nhap </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block content %} {% endblock %}


</body>
</html>
